*{padding: 0; margin: 0}
@keyframes eu2 {
from{ transform: translatey(-20px); }
to{ transform: translateY(0); }
}
html{scroll-behavior: smooth;}

h1#project{text-align: center; margin-bottom: 5px; border: 1px solid #434342; border-radius: 15px; border-collapse: collapse; background: #434342; box-shadow: 15px 10px 3px}
h3, h2{margin-left: 50px; color: #fff; text-shadow: 5px 6px 7px black; font-size: 35px;}
body{background: url(../img/fundo.png) center;}
p#mim{color: #fff; font-size: 16px;}
h1#logo{font-size: 3em; text-indent: -99999px}

#eu{width: 50%; margin-top: 120px; margin-left: 30px; box-shadow: 10px 10px 9px 	;}
#eu2{width: 75%; margin-top: 120px; margin-left: 70px; animation-name: eu2; animation-direction: alternate; animation-duration: 4s; animation-iteration-count: infinite;box-shadow: 15px 10px 3px}
#logo2{height: 50px; width: 150px; background: url(../img/logo2.png) left no-repeat; background-size: 150px;}
#home{height: 500px;}
#sobre_mim{height: 500px;}
#projetos{height: 500px;}
#triplice{width: 35%; margin: 0 0 0  225px; transition: 1s}
#triplice:hover{width: 50%; background-color: #6F6F6E; opacity: 0.8; padding: 10px; box-shadow: 15px 10px 3px;}
#sobreMim{margin-top: 110px; margin-left: 150px}
#trabalho{width: 100%; margin-top: 20px; transition: 0.4s}
#trabalho:hover{box-shadow: -10px 8px 3px #ccc;}
#portifolio{width: 100%; margin-top: 20px; transition: 0.4s}
#portifolio:hover{box-shadow: -10px 8px 3px #ccc;}
#senha{width: 100%; margin-top: 220px; transition: 0.4s}
#senha:hover{box-shadow: -10px 8px 3px #ccc;}

.inicio_topo{margin-top: 200px}
.mauro{width: 500px;}
.soon2{width: 45%; margin-top: 20px; float: right; transition: 0.4s}
.soon2:hover{box-shadow: -10px 8px 3px #ccc;}
.breve2{width: 45%; margin-top: 20px; transition: 0.4s}
.breve2:hover{box-shadow: -10px 8px 3px #ccc;}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
} .item2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
} .item3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}