@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Oswald&display=swap');
*{
    margin: 0; 
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
body{
    background: url(../img/fundo.png);
}
h1{
    font-size: 30px;
}
nav{
    background: cadetblue;
}
ul{
    list-style: none;
}
li{
    font-size: 28px;
    margin: 10px;
    cursor: pointer;
}a{
    text-decoration: none;
    color: black;
}li:hover{
    text-decoration: underline;
}
footer{
    margin-top: 200px;
    background: cadetblue;
    height: 40px;
}footer>div{
    text-align: center;
}footer>div>ul>li{
    width: fit-content;
}
h1,h2{
    color: #fff;
}



.titulo{
    margin-left: 300px;
    margin-top: 100px;
}
.grid1{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}
.textoGrid{
    display: grid;
    margin-top: 100px;
    grid-template-columns: auto auto;
}.textoGrid > p{
    font-size: 20px;
    
}
.hide{
    display: none;
}
.project{
    font-size: 60px;
    text-align: center;
    background: #00acf0;
    width: 80%;
    margin: 100px auto 0 auto;
    border-radius: 30px;
    box-shadow: -8px 8px 5px #000;
}.projetos{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.img{
    width: 40px;
}
.w{
    width: 50px;
    margin: 0;
}




#eu{
    width: 250px;
    border-radius: 40px;
}
#logo{
    width: 100px;
    margin-left: 1rem;
}
#menu{
    float: right;
    margin-right: 1rem;
}
#divMenu{
    width: 425px;
    background-color: cadetblue;
    position: absolute;
    height: 1000px;
}
#sobreMim{
    width: 552px;
    color: #fff;
}

#segura, #senha, #sor, #nota {
    transition: all .5s;
    border-radius: 20px;
    width: 400px;
    float: right;
    margin-right: 250px;

}
#segura:hover, #senha:hover, #sor:hover, #nota:hover {
    box-shadow: -10px 10px 5px black;
}

#dContatos > a > li{font-size: medium; margin: 10px;}
#dContatos2 > a > li{font-size: medium; margin: 10px;}

#x{
    width: 35px;
    float: right;
    margin: .5rem;
    transition: all .5s ease;
}#x:hover{
    background-color: aliceblue;
    border-radius: 10px;
}
#x2{
    width: 35px;
    float: right;
    margin: .5rem;
    transition: all .5s ease;
}#x2:hover{
    background-color: aliceblue;
    border-radius: 10px;
}
.pro{
    width: 100%;
    clear: both;
}.pro > p, .pro > div > p{
    width: 400px;
    margin-left: 30px;
    font-size: 20px;
    color: #fff;
}.pro > div > img{
    margin-left: 30px;
}